.header__email {
  margin: 50px 0 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

@media  screen and (max-width: 767px) {
  .header__email {
    margin: 25px 0 0 0;
  }
}