.cards__like {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/like.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  padding: 15px;
}

.cards__like:hover {
  opacity: 0.5;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.cards__like_active {
  background-image: url(../../../images/like-active.svg);
}   

